/* Style the tab */
div.tab-data-request {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: rgba(0, 0, 0, 0.3);
}

/* Style the buttons inside the tab */
div.tab-data-request button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab-data-request button:hover {
    background-color: #b70000;
}

/* Create an active/current tablink class */
div.tab-data-request button.active {
    background-color: #b70000;
}

/* Style the tab content */
.tab-dr-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

div.header-content-inner {
    padding-top: 50px;
}

.rect-coords{
    float: left;
    width: 120px;
}

.control-label{
    float: left;
}